.home {
  width: 100%;
  min-height: 100vh;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column; /* ⬅️ ini kunci */
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.img {
  display: flex;
  justify-content: center;
}

.imagetodo {
  max-width: 200px;
  height: auto;
}

.start_to_do {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button_start_to_do {
  width: 280px;
  height: 70px;
  border-radius: 50px;
  background-color: rgb(117, 130, 243);
  font-weight: bold;
  color: white;
}
