.signup-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 960px;
}

.imagetodo-signup {
  max-width: 400px;
}
