.container-footer {
    display: flex;
    justify-content: space-evenly;
    max-width: 90%;
    height: 30vh; 
}

.judul-footer{
    flex-direction: column;
    margin-top: 120px;
}

.get-help {
    margin-top: 120px;
}
